body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas
{
    border-radius: 10px;
    box-shadow: 10px 10px 10px aquamarine;
}
button{
    width: 30%;
    font-size: 50px !important;
}
h1
{
    color: white;
}
a
{
    float: right;
    font-size:20px!important;
    margin: 5px;
    background: cyan;
    cursor: pointer;
}


